@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  padding-bottom: 8em;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
  color: #dedede;
}
a {
  text-decoration: none;
}
section {
  position: relative;
  min-height: 100vh;
  padding: 3em 0;
}

/************************
*************************
        Nav menu 
************************
*************************/
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  padding: 1em;
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #dedede;
  font-size: 26px;
  font-weight: 900;
}

.burger,
.close {
  position: absolute;
  top: 0.75em;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}
.navList {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  transform: translateY(100%);
  height: 100vh;
  width: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.close {
  color: #dedede;
}
.navList .menuItem {
  padding: 0.45em 1.8em;
  color: #dedede;
  font-size: 22px;
}
.navList .buy {
  border: 2px solid #dedede;
  border-radius: 30px;
}

/************************
*************************
        Home
************************
*************************/

.home {
  padding-top: 6em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.home .cover {
  max-width: 1800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.topLeft {
  /* max-width: 750px; */
  width: 100%;
  text-align: center;
  margin-bottom: 1.5em;
}
.topLeft h1 {
  font-size: 44px;
  font-weight: 700;
  text-transform: uppercase;
}
.topLeft p {
  margin: 0 auto;
  padding: 5px 0;
  max-width: 43ch;
  font-size: 15px;
}
.ctas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cta {
  margin: 8px 0;
  border: 2px solid transparent;
  border-radius: 30px;
  background: #1d4e89;
  color: #dedede;
  font-weight: 500;
  font-size: 18px;
  padding: 0.75em 0;
  max-width: 320px;
  width: 60%;
  text-align: center;
}
.cta:last-of-type {
  border-color: #dedede;
  background: transparent;
}

.bottomRight {
  position: relative;
  margin: 0 0 3em;
}
.landingIll {
  max-width: 900px;
  width: 100%;
}
/* ????? */

/* ????? */
.companies {
  width: 100%;
  margin: 2em 0;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em 0;
}
.companies img {
  max-width: 180px;
  width: 50%;
}

/************************
*************************
      Home Services
************************
*************************/

.homeServices {
  padding: 6.5em 0;
  background: #dedede;
  color: #000;
  text-align: center;
}
.homeServices header {
  padding: 0 1em;
  margin-bottom: 4vh;
}
.homeServices header h2 {
  font-size: 32px;
}
.homeServices header p {
  margin: 0 auto;
  padding: 1em 0;
  max-width: 43ch;
}
.homeServices .ctas .cta {
  background: #000;
  max-width: 320px;
  width: 60%;
}
.homeServices .ctas .cta:last-of-type {
  background: transparent;
  color: #000;
  border-color: #000;
}
.homeServices .service {
  width: 100%;
  padding: 1em 0.75em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #000;
}
.homeServices .service:last-of-type {
  border-bottom: 2px solid #000;
}
.homeServices .service h3 {
  font-size: 30px;
}
.homeServices .service span {
  font-size: 22px;
}
.homeServices .service p {
  max-width: 43ch;
  margin: 4px 0 8px;
  font-size: 15px;
}
.serviceLink {
  display: block;
  border: 2px solid #000;
  border-radius: 30px;
  background: transparent;
  color: #000;
  font-weight: 500;
  font-size: 16px;
  padding: 0.5em 0;
  width: 65%;
  min-width: 175px;
}

/************************
*************************
      Home About
************************
*************************/

.homeAbout {
  padding: 6em 0;
}

.homeAbout h2 {
  font-size: 32px;
  text-align: center;
}
.feature {
  max-width: 699px;
  width: 100%;
  margin: 3em 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.feature:first-of-type {
  margin-top: 2em;
}

.feature .bottomLeft {
  padding: 1em 1.5em;
}
.feature .bottomLeft h3 {
  font-size: 28px;
  text-align: center;
}
.feature .bottomLeft p {
  padding: 0.5em 0;
  margin: 0 auto;
  width: clamp(45ch, 50%, 75ch);
  font-size: 15px;
}
.feature .bottomLeft .featureLnk {
  padding: 0 0.5em;
  color: #dedede;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.feature .bottomLeft .featureLnk .arrow {
  margin-left: 5px;
}

.featureImg {
  max-width: 550px;
  width: 100%;
}

.aboutBottom {
  max-width: 850px;
  position: relative;
  margin: 0 auto;
  padding: 3em 1em 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutBottom p {
  text-align: center;
  padding: 1em 0;
  width: clamp(30ch, 50%, 60ch);
}

.aboutCta {
  max-width: 320px;
  width: 60%;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 30px;
  font-weight: 500;
  font-size: 18px;
  padding: 0.75em 0;
  color: #000;
  background: #dedede;
  margin-bottom: 3em;
}
.comp2 {
  display: block;
  max-width: 800px;
  width: 100%;
}
.phone2 {
  display: block;
  position: absolute;
  bottom: 0;
  right: 50px;
  max-width: 160px;
  width: 24vw;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.5em 1em;
  border-top: 2px solid rgba(222, 222, 222, 0.75);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footLeft .logo {
  display: block;
  margin-bottom: 8px;
}
.footLeft .social {
  width: 100%;
  border: 3px solid #1d4e89;
  border-radius: 8px;
  padding: 5px 0 1px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 22px;
}
.footLeft .social a {
  color: #dedede;
}
.footRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footRight a {
  color: #dedede;
  background: #1d4e89;
  font-size: 18px;
  font-weight: 500;
  border-radius: 30px;
  padding: 0.5em 1em;
  margin-bottom: 8px;
}

.footRight span {
  font-size: 13px;
}

@media (min-width: 1000px) {
  .home .cover {
    padding: 0 1em;
  }
  .home .cover,
  .ctas,
  .feature {
    flex-direction: row;
  }
  .topLeft p {
    padding: 5px 0 40px;
  }
  .ctas .cta {
    margin: 0 20px;
  }
}
@media (min-width: 749px) {
  .feature {
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-evenly;
  }
  .feature .bottomLeft,
  .feature .topRight {
    margin: 2em 0;
    padding: 0 1em;
    max-width: 600px;
    width: 50%;
  }
  .feature .bottomLeft .featureLnk {
    max-width: 600px;
    width: 50%;
    justify-content: center;
  }
  .featureImg {
    display: block;
    max-width: 600px;
    width: 100%;
    max-height: 320px;
  }
  .topLeft {
    width: 50%;
  }
  .companies {
    grid-template-columns: repeat(4, 1fr);
  }
  .homeServices .service h3 {
    font-size: 34px;
  }
  .homeServices .service span {
    margin: 8px 0;
    font-size: 28px;
  }
  .homeServices .service p {
    margin: 4px 0 16px;
    font-size: 16px;
  }
  .serviceLink {
    font-size: 18px;
  }
}
@media (max-width: 699px) {
  .serviceLink {
    font-size: 14px;
  }
}
@media (min-width: 699px) {
  .homeServices header {
    margin-bottom: 4.5em;
  }
  .homeServices .serviceBox {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .homeServices .service {
    max-width: 360px;
    margin: 0 4vw;
    border: 2px solid #000;
    border-radius: 12px;
  }
  .homeServices .service:first-of-type,
  .homeServices .service:last-of-type {
    margin-bottom: 15vh;
  }
  .homeServices .service:nth-of-type(2) {
    margin-top: 30px;
  }

  .homeServices .ctas {
    flex-direction: row;
  }
  .homeServices .ctas .cta {
    width: 200px;
    margin: 0 5px;
  }
}

.services {
  background-color: pink;
}

.about {
  background-color: gray;
}

.contact {
  background-color: purple;
}
